/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  margin: 0 auto;
}
header,
main,
footer,
.description,
.banner,
.hire {
  grid-column: 1 / 2;
  text-align: center;
}

/*
  ========================================
  Header
  ========================================
*/
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  padding-top: 60px;
}
header h1 {
  padding-left: 60px;
  text-align: left;
}
.primary-nav ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-template-areas: 
  ". . . home about contact";
  padding-right: 60px;
}
.primary-nav li {
  text-align: right;
}
.li-about {
  grid-area: about;
}
.li-contact {
  grid-area: contact;
}
.li-home {
  grid-area: home;
  padding-right: 20px;
}

/*
  ========================================
  Banner
  ========================================
*/
.banner {
  padding: 200px 300px 300px 300px;
  
}
.banner h1 {
  padding-bottom: 40px;
}

/*
  ========================================
  Spacing
  ========================================
*/
.description,
.hire,
footer {
  padding: 100px;
}

/*
  ========================================
  Projects
  ========================================
*/
.project-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1px;
}
.project-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
}
.img-wrapper {
  position: relative;
}
.img-description-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(64, 35, 97, 0.9);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}
.img-wrapper:hover .img-description-layer {
  visibility: visible;
  opacity: 1;
}
.img-wrapper p,
.img-wrapper h5 {
  transition: .2s;
  transform: translateY(1em);
}
.img-wrapper:hover h5,
.img-wrapper:hover p {
  transform: translateY(0);
} 

/*
  ========================================
  About 
  ========================================
*/
.banner-about {
  padding: 200px 0;
  text-align: center;
}
.about {
  padding: 100px 0 50px 0;
}
.about img {
  height: 150px;
  border-radius: 50%; 
}
.about h3 {
  padding: 60px 0 20px 0;
}
.about p:first-of-type {
  padding-bottom: 80px; 
}
.about p:last-of-type {
  text-align: justify;
  padding: 0 250px;
}

/*
  ========================================
  Hire Me
  ========================================
*/
.hire p {
  padding-top: 10px;
  padding-bottom: 40px;
}

/*
  ========================================
  Footer
  ========================================
*/
footer ul {
  display: flex;
  justify-content: center;
}
footer li {
  flex-basis: 50px;
}
footer nav,
footer p {
  padding-bottom: 10px;
}

